<div class="header-nav">
    <div class="header-left">
        <a href="/" class="app-link">
            <img src="/icons/file-uploader.png" alt="File Uploader Icon">
            <h1>File Uploader</h1>
        </a>
    </div>

    <div class="header-right">
        <ul>
            <% if (!locals.currentUser) { %>
                <li class="auth">
                    <a href="/login">Log In</a>
                </li>
                <li class="auth">
                    <a href="/register">Register</a>
                </li>
            <% } else { %>
                <li class="auth">
                    <form action="/logout" method="POST" style="display:inline;">
                        <button type="submit" style="all: unset; cursor: pointer;">
                            Log Out
                        </button>
                    </form>
                </li>
            <% } %>
        </ul>
    </div>
</div>